$primary-color: #7b00ff;

.item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: start;
    padding: 10px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
    background-color: #f5f5f597;

    &:hover {}

    span {
        color: gray;
        text-align: start;
        margin-left: 4px;
    }

    img {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        margin-right: 5px;
        text-align: start;

    }
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.item-container>div:nth-child(2) {
    transition-delay: 100ms;
}

.item-container>div:nth-child(3) {
    transition-delay: 200ms;
}

.item-container>div:nth-child(4) {
    transition-delay: 300ms;
}

.item-container>div:nth-child(5) {
    transition-delay: 400ms;
}

.item-container>div:nth-child(6) {
    transition-delay: 500ms;
}

.item-container>div:nth-child(7) {
    transition-delay: 600ms;
}

.item-container>div:nth-child(8) {
    transition-delay: 700ms;
}

.item-container>div:nth-child(9) {
    transition-delay: 800ms;
}

.item-container>div:nth-child(10) {
    transition-delay: 900ms;
}

.item-container>div:nth-child(11) {
    transition-delay: 1000ms;
}

.item-container>div:nth-child(12) {
    transition-delay: 1100ms;
}

.item-container>div:nth-child(13) {
    transition-delay: 1200ms;
}

.item-container>div:nth-child(14) {
    transition-delay: 1300ms;
}

.item-container>div:nth-child(15) {
    transition-delay: 1400ms;
}

.item-container>div:nth-child(16) {
    transition-delay: 1500ms;
}

.item-container>div:nth-child(17) {
    transition-delay: 1600ms;
}

.item-container>div:nth-child(18) {
    transition-delay: 1700ms;
}

.item-container>div:nth-child(19) {
    transition-delay: 1800ms;
}

.item-container>div:nth-child(20) {
    transition-delay: 1900ms;
}

.item-container>div:nth-child(21) {
    transition-delay: 2000ms;
}

.item-container>div:nth-child(22) {
    transition-delay: 2100ms;
}

.item-container>div:nth-child(23) {
    transition-delay: 2200ms;
}

@media only screen and (max-width: 575.98px) {

    .item-container {
        gap: 5px;
    }

    .item {
        padding: 7px;
        margin: 4px;
        border-radius: 7px;


        img {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            margin-right: 5px;
            text-align: start;

        }
    }

}