$primary-color: #7b00ff;

.item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    position: relative;

    img {
        width: 50px;
        height: 50px;
    }

    span {
        position: absolute;
        bottom: 80%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        padding: 5px; 
        border-radius: 3px; 
        white-space: nowrap;
    }

    &:hover span {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 575.98px) {
    .item {
        margin-bottom: 1px; 

        img {
            width: 40px;
            height: 40px;
        }
    
    }

    span {
        bottom: 100%; // Mover o texto para cima
    }
}

.item-container>div:nth-child(2) {
    transition-delay: 100ms;
}

.item-container>div:nth-child(3) {
    transition-delay: 200ms;
}

.item-container>div:nth-child(4) {
    transition-delay: 300ms;
}

.item-container>div:nth-child(5) {
    transition-delay: 400ms;
}

.item-container>div:nth-child(6) {
    transition-delay: 500ms;
}

.item-container>div:nth-child(7) {
    transition-delay: 600ms;
}

.item-container>div:nth-child(8) {
    transition-delay: 700ms;
}

.item-container>div:nth-child(9) {
    transition-delay: 800ms;
}

.item-container>div:nth-child(10) {
    transition-delay: 900ms;
}

.item-container>div:nth-child(11) {
    transition-delay: 1000ms;
}

.item-container>div:nth-child(12) {
    transition-delay: 1100ms;
}

.item-container>div:nth-child(13) {
    transition-delay: 1200ms;
}

.item-container>div:nth-child(14) {
    transition-delay: 1300ms;
}

.item-container>div:nth-child(15) {
    transition-delay: 1400ms;
}

.item-container>div:nth-child(16) {
    transition-delay: 1500ms;
}

.item-container>div:nth-child(17) {
    transition-delay: 1600ms;
}

.item-container>div:nth-child(18) {
    transition-delay: 1700ms;
}

.item-container>div:nth-child(19) {
    transition-delay: 1800ms;
}

.item-container>div:nth-child(20) {
    transition-delay: 1900ms;
}

.item-container>div:nth-child(21) {
    transition-delay: 2000ms;
}

.item-container>div:nth-child(22) {
    transition-delay: 2100ms;
}

.item-container>div:nth-child(23) {
    transition-delay: 2200ms;
}
