$primary-color: #7b00ff;

.icons {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 888px;

    > div {
        flex: 0 0 calc(3% - 3px);
        margin: 7px 2px;
        text-align: center;
    }
}

.titulo {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    border-top: 3px $primary-color solid;
    height: 14px;
    width: 100%;

    h3 {
        font-family: 'Press Start 2P', cursive;
        text-align: center;
        font-size: 20px;
        background-color: white;
        padding: 12px 8px;
        margin-left: 50px;
        color: $primary-color;
    }
}

.avatar {
    height: auto;
    width: 54px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin: 0 10px;
    transition: .3s;
    cursor: default;
}

.nuvem {
    position: absolute;
    top: -15px;
    left: -10px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 10px;
    background-color: rgb(255, 255, 255);
    transition: .5;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icons>div:nth-child(2) {
    transition-delay: 100ms;
}

.icons>div:nth-child(3) {
    transition-delay: 200ms;
}

.icons>div:nth-child(4) {
    transition-delay: 300ms;
}

.icons>div:nth-child(5) {
    transition-delay: 400ms;
}

.icons>div:nth-child(6) {
    transition-delay: 500ms;
}

.icons>div:nth-child(7) {
    transition-delay: 600ms;
}

.icons>div:nth-child(8) {
    transition-delay: 700ms;
}

.icons>div:nth-child(9) {
    transition-delay: 800ms;
}

.icons>div:nth-child(10) {
    transition-delay: 900ms;
}

.icons>div:nth-child(11) {
    transition-delay: 1000ms;
}

.icons>div:nth-child(12) {
    transition-delay: 1100ms;
}

.icons>div:nth-child(13) {
    transition-delay: 1200ms;
}

.icons>div:nth-child(14) {
    transition-delay: 1300ms;
}