$primary-color: #7b00ff;

.row {
    display: flex;

    .col {
        flex: 1;
        overflow: hidden;
        position: relative;
    }

    .expansion-panel {
        margin: auto;
        overflow: hidden;
        transition: height 1s ease-in-out;
        width: 85%;

        .panel-header {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            align-items: center;
            border-bottom: 2px solid #7b00ff8c;
            border-radius: 2px;

            h3 {
                margin: 0;
                text-transform: uppercase;
                font-size: 14px;
                color: $primary-color;
                font-weight: 500;
                letter-spacing: 3px;
            }

            .icon {
                i {
                    transition: transform 0.7s ease-in-out;
                    color: $primary-color;
                }

                &.open {
                    i {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .panel-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height .6s ease-in-out;

            &.open {
                max-height: 1000px;
            }

            p {
                margin: 0;
                padding: 20px;
                text-align: justify;
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {

}

@media only screen and (max-width: 575.98px) {

    .row {
        display: block;
    }

    .col {
        margin-top: 30px;
    }

    p {
        margin: 0;
        padding: 7px;
        text-align: justify;
    }
}