<div class="titulo">
    <h3>Sobre mim</h3>
</div>
<p style="margin: 10px;">ㅤ</p>
<div class="row">
    <div class="col hidden-left" style="transition-delay: 500ms;">
        <div class="expansion-panel">
            <div class="panel-header" (click)="togglePanel('panel1')">
                <h3>Quem sou eu</h3>
                <div class="icon" #icon1>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div class="panel-content" [ngClass]="{'open': isPanelOpen['panel1']}">
                <p>Eu sou Wescley, tenho 20 anos e tenho uma relação de amor e um pouco de <span
                        style="color: red; font-size: 20px;"><strong>raiva</strong></span> com a programação. Sempre tive um
                    interesse especial em construir coisas, desmontar dispositivos que não funcionam mais e explorar as
                    possibilidades de cada peça. Com a programação, mergulho em um amplo universo de possibilidades que adoro explorar. Graças a essa
                    habilidade, consigo olhar para diversas situações e pensar em maneiras de facilitar ou ajudar. Meus
                    projetos no portfólio exemplificam esse pensamento, e abaixo, você pode encontrar eles.</p>
            </div>
        </div>
    </div>
    <div class="col hidden-right">
        <div class="expansion-panel">
            <div class="panel-header" (click)="togglePanel('panel2')">
                <h3>o começo</h3>
                <div class="icon" #icon2>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div class="panel-content" [ngClass]="{'open': isPanelOpen['panel2']}">
                <p>Conheci a programação graças a um técnico da minha provedora de internet. Ele veio resolver um
                    problema exatamente no dia em que eu estava montando meu primeiro PC. Ele gentilmente me ajudou, e
                    ao conhecê-lo melhor, descobri que ele estudava na área. Ele me mostrou o que fazia através da
                    inspeção do navegador, simplesmente alterando a cor de um elemento, e eu já me interessei. Em 2021,
                    iniciei meus estudos com o renomado Gustavo Guanabara. Tive que fazer uma pausa temporária devido ao
                    trabalho, mas em 2022, me matriculei em um curso técnico em informática no <a target="_blank"
                        href="https://tisenac.netlify.app/#dt27">Senac</a>. Aprofundei-me ainda mais no assunto, tive a
                    felicidade de aprender muitas coisas, participei do desenvolvimento de projetos em grupo e continuo
                    me dedicando aos estudos até hoje.</p>

            </div>
        </div>
    </div>
</div>