<div class="container">
    <div class="teste">

    </div>
    <div class="header">
        <ul>
            <i (click)="scrollTop()" class="fa-solid fa-house"></i>
            <i mat-button [matMenuTriggerFor]="menu" class="fa-solid fa-bars menu"></i>
            <li (click)="scrollToSobre()">Acerca</li>
            <li (click)="scrollToProjetos()">Proyectos</li>
            <li (click)="scrollToCursos()">Cursos</li>
            <li (click)="scrollToCompetencias()">Conocimiento</li>
            <li (click)="scrollToContato()">Contacto</li>
            <li>ㅤ</li>
        </ul>
    </div>

    <mat-menu #menu="matMenu">
        <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
            (click)="scrollToSobre()">Acerca</button>
        <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
            (click)="scrollToProjetos()">Proyectos</button>
        <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
            (click)="scrollToCursos()">Cursos</button>
        <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
            (click)="scrollToCompetencias()">Conocimiento</button>
        <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
            (click)="scrollToContato()">Contact</button>
    </mat-menu>

    <div style="margin: 100px;"></div>
    <section class="hidden-left white">
        <app-perfil></app-perfil>
    </section>

    <div style="padding: 100px;" #sobre></div>
    <section class="hidden-right gray">
        <app-sobre></app-sobre>
    </section>

    <div style="padding: 100px;" #projetos></div>
    <section class="hidden-left">
        <app-projetos></app-projetos>
    </section>

    <div style="padding: 100px;" #cursos></div>
    <section class="hidden-left">
        <app-cursos></app-cursos>
    </section>

    <div style="padding: 100px;" #competencias></div>
    <section class="hidden-right gray">
        <app-habilidades></app-habilidades>
    </section>

    <div style="padding: 60px;" #contato></div>
    <section class="hidden-left" style="padding-bottom: 500px;">
        <app-enviar-mensagem [aviso]="aviso" [texto]="texto" (showToastEvent)="toast($event)"></app-enviar-mensagem>
    </section>

    <div class="toast" *ngIf="aviso" [@fadeInOut]>
        {{ texto }}
    </div>
</div>

<app-usuario></app-usuario>