<div class="header">
  <ul>
      <i (click)="irHome()" class="fa-solid fa-house"></i>
      <i mat-button [matMenuTriggerFor]="menu" class="fa-solid fa-bars menu"></i>
      <li (click)="scrollTop()">baixar</li>
      <li (click)="scrollToMotivo()">motivo</li>
      <!-- <li (click)="scrollToVideo()">video</li> -->
      <li (click)="scrollToPaginas()">paginas</li>
  </ul>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
      (click)="scrollTop()">Baixar</button>
  <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
      (click)="scrollToMotivo()">Motivo</button>
  <!-- <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
      (click)="scrollToVideo()">Video</button> -->
  <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
      (click)="scrollToPaginas()">Paginas</button>
</mat-menu>

<p style="margin: 100px;"></p>
<div class="container">
  <section class="hidden-left response">
      <div class="row inicio">
          <div class="col title">
              <h1>GGrid</h1>
              <h2>APP MOBILE</h2>
              <p>
                  GGrid é um aplicativo projetado para conectar jogadores que estão à procura de alguem para jogar
                  juntos.
                  Com apenas alguns cliques, ao selecionar a plataforma e o jogo desejado, você pode iniciar sua
                  busca.
                  Quando alguém também procura por interesses semelhantes, a conexão está pronta. Simplificando, o
                  GGrid
                  facilita a busca por parceiros de equipe, proporcionando uma experiência ágil e eficiente.
              </p>

              <h3>Baixar Apk</h3>
              <a class="eightbit-btn" target="_blank"
                  href="https://www.mediafire.com/file/bqierxfa1wwcaf8/GGrid.apk" download>
                  Mediafire
              </a>
              <a class="eightbit-btn" target="_blank"
                  href="https://drive.usercontent.google.com/download?id=1B32t3GoXRCG-rDebj1dY67Bz01TakbCI&export=download&authuser=0&confirm=t&uuid=b1edebd6-8cb6-4604-a30f-658ca3353d39&at=APZUnTVsPzh17_BEuw0Al7I0AFRW%3A1704204195351"
                  download>
                  Drive
              </a>
          </div>
          <div class="col carrossel">
              <app-carrossel [imagens]="[
                'https://firebasestorage.googleapis.com/v0/b/portifolio-eeb9f.appspot.com/o/projeto%2Flogo.png?alt=media&token=1d340515-8cb7-401a-b435-dc6a1dcf7607',
                'https://firebasestorage.googleapis.com/v0/b/portifolio-eeb9f.appspot.com/o/projeto%2Flogin.png?alt=media&token=8c9cc3d8-3734-4d52-8113-5e9b19ffd42c',
                'https://firebasestorage.googleapis.com/v0/b/portifolio-eeb9f.appspot.com/o/projeto%2Fhome.png?alt=media&token=ca080901-7a97-4a47-a706-bb3eb2baa0df',
                'https://firebasestorage.googleapis.com/v0/b/portifolio-eeb9f.appspot.com/o/projeto%2Fchats.png?alt=media&token=98c3bb40-b87f-48c5-bf2f-debc08af4c78',
                'https://firebasestorage.googleapis.com/v0/b/portifolio-eeb9f.appspot.com/o/projeto%2Fperfil.png?alt=media&token=a00d180a-455c-401a-b875-27d99ee3d066',
                'https://firebasestorage.googleapis.com/v0/b/portifolio-eeb9f.appspot.com/o/projeto%2Fadm.png?alt=media&token=7f5c5149-0870-40b3-a9c1-b1ffab161e18'
              ]"></app-carrossel>
          </div>
      </div>
      <p style="margin: 50px;" #motivo></p>
  </section>
  <p class="espacinho"></p>
  <section class="hidden-right">
      <div class="row">
          <div class="col info">
              <h1>Motivo da criação</h1>
              <p>
                  Minha experiência como jogador inclui participação ativa em diversos grupos de jogos, onde encontrei
                  muitos
                  jogos cooperativos que precisa de interação multiplayer. Olhando os comentários, percebi que
                  algumas pessoas ficaram comentando sobre a falta de companheiros para jogar. Desses comentários
                  nasceu
                  a ideia do GGrid. Este projeto procura preencher esta lacuna, fornecendo uma maneira para os
                  jogadores comunicarem e desfrutarem de experiências
                  mais
                  divertidas e colaborativas.
              </p>

              <h1> usado no projeto</h1>

              <div class="icons">
                  <div class="icon-item hidden-right" *ngFor="let item of itens">
                      <img class="avatar" [src]="item.imagem" alt="{{item.nome}}" />
                      <span class="nome">{{ item.nome }}</span>
                  </div>
              </div>
              <div style="margin: 50px;"></div>
          </div>
      </div>
  </section>
  <!-- <p style="margin: 100px;" #video>ㅤ</p>
  <section class="hidden-left">
      <div class="row">
          <div class="col info">
              <h1>Video do app</h1>
              <div class="video">
                  <iframe src="https://www.youtube.com/embed/4fKm7UFV6zE?si=PrTMixUI3icsM_PX"
                      title="YouTube video player" frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen></iframe>
              </div>
          </div>
      </div>
  </section> -->
  <p style="margin: 10px;" #paginas>ㅤ</p>
  <section class="hidden-right" style="display: flex; align-items: center;">
      <div class="row">
          <div class="col info">
              <h1>Pagina inicial</h1>
              <p>Contém 4 rádios nos quais você pode selecionar a plataforma desejada, um seletor que é um modal com
                  caixas de seleção contendo todos os jogos do banco de dados. Caso o jogo desejado não esteja
                  disponível, o usuário pode enviá-lo para análise. Quando for aceito por algum administrador, será
                  incluído no banco de dados mencionado no seletor. Ao realizar uma busca, o sistema realiza todas as
                  verificações necessárias, como a compatibilidade entre o jogo e a plataforma, se o usuário já possui
                  um chat ativo com você, entre outros.</p>

              <h1>Pagina de conversas</h1>
              <p> Contém as conversas em que o usuário logado está participando. Caso não haja nenhuma conversa, uma
                  mensagem é exibida. O sistema apresenta um contador de mensagens não
                  lidas e exibe a última mensagem enviada. Ao clicar na conversa desejada, o usuário é direcionado
                  para o bate-papo correspondente, que inclui a foto do usuário participante, a qual pode ser clicada
                  para visualização ampliada, opções para denunciar e apagar a conversa. Adicionalmente, há um íon-fab
                  que permite ao usuário enviar seu @ de alguma
                  plataforma previamente adicionada ao perfil. A conversa inclui um mecanismo de visualização e uma
                  api de
                  envio de notificações para casos em que o usuário não esteja ativo no aplicativo.</p>
          </div>
      </div>
  </section>

  <section class="hidden-left">
      <div class="row ">
          <div class="col info">
              <h1>pagina perfil</h1>
              <p>
                  Contém um banner selecionado por mim, pois meu plano do Firebase é o gratuito e tem limitações de
                  espaço para implementar todas as funcionalidades desejadas. Inclui a foto do usuário, permitindo que
                  ele faça alterações nas informações visíveis apenas para si. Apresenta os @ das plataformas caso
                  haja, com um botão para editar o perfil, trocar informações básicas, sair da conta e um botão para
                  apagar a conta.
              </p>

              <h1>pagina de adm</h1>
              <p>
                  Contém 4 botões que direcionam para modais específicos, cada um com uma função diferente:

                  Jogos em Análise: onde o administrador pode visualizar os jogos enviados pelos usuários que não
                  encontraram o jogo desejado.
                  Jogo: permite ao administrador remover jogos, se necessário.
                  Usuários: fornece ao administrador informações sobre os usuários, permitindo alterações ou
                  exclusões.
                  Denúncias: possibilita ao administrador verificar os motivos das denúncias e revisar as conversas
                  entre os usuários para chegar à melhor solução.
              </p>
              <p></p>
          </div>
      </div>
  </section>


</div>