<div class="box">
    <div class="projetos">
        <div class="titulo">
            <h3>Projetos</h3>
        </div>
        <p style="margin: 5px;">ㅤ</p>
        <div class="icons">
            <div class="hidden-right" (click)="irGGrid()">
                <img class="projeto"
                    src="https://firebasestorage.googleapis.com/v0/b/portifolio-eeb9f.appspot.com/o/projeto%2Flogo.png?alt=media&token=1d340515-8cb7-401a-b435-dc6a1dcf7607"
                    alt="">
                <span class="nome-projeto">GGrid</span>
                <p class="check"><i class="fa-solid fa-circle-check"></i> Concluído</p>
            </div>
            <div class="hidden-left">
                <img class="projeto"
                    src="https://firebasestorage.googleapis.com/v0/b/portifolio-eeb9f.appspot.com/o/projeto-joystest%2Fjoystedt.png?alt=media&token=c85ed30a-7cae-4bf4-843f-3e17324d5d84"
                    alt="">
                <span class="nome-projeto">JoyTest</span>
                <p class="loading"><i class="fa-solid fa-spinner"></i> Andamento</p>
            </div>
            <div class="hidden-left" style="opacity: 0;">
                <img class="projeto"
                    src="https://firebasestorage.googleapis.com/v0/b/portifolio-eeb9f.appspot.com/o/projeto-joystest%2Fjoystedt.png?alt=media&token=c85ed30a-7cae-4bf4-843f-3e17324d5d84"
                    alt="">
                <span class="nome-projeto">JoyTest</span>
                <p class="loading"><i class="fa-solid fa-spinner"></i> Andamento</p>
            </div>
            <div class="hidden-left" style="opacity: 0;">
                <img class="projeto"
                    src="https://firebasestorage.googleapis.com/v0/b/portifolio-eeb9f.appspot.com/o/projeto-joystest%2Fjoystedt.png?alt=media&token=c85ed30a-7cae-4bf4-843f-3e17324d5d84"
                    alt="">
                <span class="nome-projeto">JoyTest</span>
                <p class="loading"><i class="fa-solid fa-spinner"></i> Andamento</p>
            </div>
        </div>
    </div>
</div>