$primary-color: #7b00ff;

.projetos {
    max-width: 1500px;
    width: 100%;
}

.titulo {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    border-top: 2px #7b00ff83 solid;
    height: 14px;
    width: 100%;

    h3 {
        font-family: 'Press Start 2P', cursive;
        text-align: center;
        font-size: 20px;
        background-color: white;
        padding: 12px 8px;
        margin-left: 50px;
        color: $primary-color;
    }
}

.icons {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;

    >div {
        flex: 0 0 calc(10% - 20px);
        margin: 15px;
        text-align: center;
    }
}

.projeto {
    height: 280px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: .3s;
    cursor: pointer;
    box-shadow: 0px 0px 26px -5px hsla(269, 100%, 50%, 0.359);
}

.check {
    color: green;
    font-size: 12px;
}

.loading {
    color: gray;

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .fa-spinner {
        animation: rotate 2s linear infinite;
    }
}

.nome-projeto {
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    color: $primary-color;
    text-shadow: .5px .5px #00000053;
}

.plataforma {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

.icons>div:nth-child(2) {
    transition-delay: 100ms;
}

.icons>div:nth-child(3) {
    transition-delay: 200ms;
}

.icons>div:nth-child(4) {
    transition-delay: 300ms;
}

.icons>div:nth-child(5) {
    transition-delay: 400ms;
}

.icons>div:nth-child(6) {
    transition-delay: 500ms;
}

.icons>div:nth-child(7) {
    transition-delay: 600ms;
}

.icons>div:nth-child(8) {
    transition-delay: 700ms;
}

.icons>div:nth-child(9) {
    transition-delay: 800ms;
}

.icons>div:nth-child(10) {
    transition-delay: 900ms;
}

.icons>div:nth-child(11) {
    transition-delay: 1000ms;
}

.icons>div:nth-child(12) {
    transition-delay: 1100ms;
}

.icons>div:nth-child(13) {
    transition-delay: 1200ms;
}

.icons>div:nth-child(14) {
    transition-delay: 1300ms;
}

@media only screen and (max-width: 575.98px) {
    .projetos {
        max-width: 100%;
        padding: 0 10px;
        margin: 0 auto;
    }

    .titulo {
        width: 97%;
        h3 {
            font-size: 15px;
            padding: 8px;
            margin-left: 10px;
        }
    }

    .icons>div {
        flex: 0 0 calc(30% - 200px);
        margin: 10px;
        text-align: center;
    }

    .projeto {
        height: 250px;
        box-shadow: 0px 0px 26px -5px hsla(269, 100%, 50%, 0.254);
    }

    .nome-projeto {
        font-size: 12px;
    }

    .plataforma {
        font-size: 10px;
    }
}


@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .titulo {
        width: 92%;
        margin: 20px auto;
    }
}