<div class="titulo">
    <h3>Cursos</h3>
</div>

<div class="cursos">
    <div class="curso hidden-left">
        <img class="imagem" src="https://firebasestorage.googleapis.com/v0/b/portifolio-eeb9f.appspot.com/o/cursos%2Fsenac.png?alt=media&token=0ae36556-94d7-4363-8406-ac4abbf8b921" alt="Logo Senac">
        <h1 class="instituicao">Senac</h1>
        <h2 class="nome">Técnico em Informática</h2>
        <p></p>
        <span class="data">05/2022 - 10/2023</span>
        <p></p>
        <a href="" class="mais">ver mais</a>
    </div>

    <div class="curso hidden-right">
        <img class="imagem" src="https://firebasestorage.googleapis.com/v0/b/portifolio-eeb9f.appspot.com/o/cursos%2Fhashtag.png?alt=media&token=20bc5a3a-7822-4277-ba09-9285a16f3533" alt="Logo Hashtag">
        <h1 class="instituicao">Hashtag Treinamentos</h1>
        <h2 class="nome">Python</h2>
        <p></p>
        <span class="data">09/2022 - 01/2023</span>
        <p></p>
        <a href="" class="mais">ver mais</a>
    </div>

    <div class="curso hidden-left">
        <img class="imagem" src="https://firebasestorage.googleapis.com/v0/b/portifolio-eeb9f.appspot.com/o/cursos%2Faws.png?alt=media&token=4ad4daed-35fc-4cf7-b012-ea73ab8432ea" alt="Logo AWS">
        <h1 class="instituicao">Udemy - Andre Iacono</h1>
        <h2 class="nome">AWS Solutions Architect Associate SAA-C03</h2>
        <p></p>
        <span class="data">12/2023 - Andamento</span>
        <p></p>
        <a href="https://www.udemy.com/course/certificacao-amazon-aws-2019-solutions-architect/" class="mais">ver mais</a>
    </div>
</div>