<div class="container">
    <div class="teste">

    </div>
    <div class="header">
        <ul>
            <i (click)="scrollTop()" class="fa-solid fa-house"></i>
            <i mat-button [matMenuTriggerFor]="menu" class="fa-solid fa-bars menu"></i>
            <li (click)="scrollToSobre()">about</li>
            <li (click)="scrollToProjetos()">projects</li>
            <li (click)="scrollToCursos()">Courses</li>
            <li (click)="scrollToCompetencias()">knowledge</li>
            <li (click)="scrollToContato()">Contact</li>
            <li>ㅤ</li>
        </ul>
    </div>

    <mat-menu #menu="matMenu">
        <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
            (click)="scrollToSobre()">About</button>
        <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
            (click)="scrollToProjetos()">Projects</button>
        <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
            (click)="scrollToCursos()">Courses</button>
        <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
            (click)="scrollToCompetencias()">knowledge</button>
        <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
            (click)="scrollToContato()">Contact</button>
    </mat-menu>

    <div style="margin: 100px;"></div>
    <section class="hidden-left white">
        <app-perfil></app-perfil>
    </section>

    <div style="padding: 100px;" #sobre></div>
    <section class="hidden-right gray">
        <app-sobre
        [sobre]="'About me'"
        [eu]="'who am I'"
        [euP]="'Hello, I am Wescley, a 20-year-old enthusiast with a deep passion and sometimes a hint of ANGER for programming. From an early 
        age, I have always been fascinated by building things, dismantling devices, and exploring the possibilities of each 
        component. With programming, I delved into a vast universe of creativity that I love to explore. My portfolio projects 
        reflect this mindset, and below you can get to know them better.'"

        [comeco]="'The beginning'"
        [comecoP]="'My journey into programming began thanks to a technician from my internet 
        service provider. He came to fix a problem exactly on the day I was assembling my first PC. 
        Kindly assisting me with the assembly, he shared a bit of what he did in college, simply changing 
        the color of an element through browser inspection, and my interest was sparked. In 2021, I started
         my studies with the renowned Gustavo Guanabara. Despite a temporary pause due to work, I resumed in
          2022 with a technical course in computer science at Senac. This journey has provided me with 
          significant learnings, participation in group projects, and a continuous dedication to studies.'">
        </app-sobre>
    </section>

    <div style="padding: 100px;" #projetos></div>
    <section class="hidden-left">
        <app-projetos
            [title]="'projects'"
            [concluido]="'Concluded'"
            [andamento]="'Progress'"
            [title]="'projects'"
        ></app-projetos>
    </section>

    <div style="padding: 100px;" #cursos></div>
    <section class="hidden-left">
        <app-cursos></app-cursos>
    </section>

    <div style="padding: 100px;" #competencias></div>
    <section class="hidden-right gray">
        <app-habilidades></app-habilidades>
    </section>

    <div style="padding: 60px;" #contato></div>
    <section class="hidden-left" style="padding-bottom: 500px;">
        <app-enviar-mensagem [aviso]="aviso" [texto]="texto" (showToastEvent)="toast($event)"></app-enviar-mensagem>
    </section>

    <div class="toast" *ngIf="aviso" [@fadeInOut]>
        {{ texto }}
    </div>
</div>

<app-usuario></app-usuario>