.pdf {
  position: fixed;
  top: 70px;
  left: 15px;
  z-index: 1000;

  button {
    background: linear-gradient(to right, #7b00ff, #a782d0);
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 12px;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    font-weight: 800;
    box-shadow: rgba(0, 0, 0, .55) 0px 5px 15px;
    opacity: 40%;
    transition: all .5s;

    &:hover {
      opacity: 100%;
    }

    i {
      font-size: 18px;
      margin-left: 4px;
      margin-top: 2px;
    }
  }

  .fa-file-pdf {
    opacity: 1;
    transition: 0s;
    transition: all .4s;
  }

  .fa-download {
    opacity: 0;
    transition: 0s;
  }

  &:hover {
    .fa-file-pdf {
      display: none;
    }

    .fa-download {
      opacity: 1;
      margin-left: 1px;
      margin-top: 1px;
      transition: all 1s;
    }

  }
}

.idiomas {
  position: fixed;
  top: 140px;
  left: 15px;
  z-index: 1000;

  div {
    cursor: pointer;
    transition: all .5s;

    i {
      transform: rotate(0deg);
      transition: all .5s;
      margin-left: 12px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    text-align: center;
    align-items: center;

    li {
      padding: 10px;
      cursor: pointer;
      transition: background-color .5s ease-in-out;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  &.menu-ativo {
    ul {
      opacity: 1;
    }

    div {
      color: #7b00ff;

      i {
        transition: all .5s;
        transform: rotate(180deg);
      }
    }
  }
}