.pdf {
  position: fixed;
  top: 70px;
  left: 15px;
  z-index: 1000;

  button {
    background: linear-gradient(to right, #7b00ff, #a782d0);
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 12px;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    font-weight: 800;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 40%;
    transition: all .5s;

    &:hover {
      opacity: 100%;
    }

    i {
      font-size: 18px;
      margin-left: 4px;
      margin-top: 2px;
    }
  }

  .fa-file-pdf {
    opacity: 1;
    transition: 0s;
    transition: all .4s;
  }

  .fa-download {
    opacity: 0;
    transition: 0s;
  }

  &:hover {
    .fa-file-pdf {
      display: none;
    }

    .fa-download {
      opacity: 1;
      margin-left: 1px;
      margin-top: 1px;
      transition: all 1s;
    }

  }
}

.idiomas {
  width: 200px;

  span {
    cursor: pointer;
  }

  ul {
    background-color: red;
    list-style-type: none;
    text-align: center;
  }

  li {
    list-style-type: none;
    text-align: center;
  }
}