<div class="persona">
    <div class="imagem">
        <img src="/assets/perfil.png" alt="">
    </div>
    <div class="sobre">
        <span class="nome hidden-left">w</span>
        <span class="nome hidden-right">e</span>
        <span class="nome hidden-left">s</span>
        <span class="nome hidden-right">c</span>
        <span class="nome hidden-left">l</span>
        <span class="nome hidden-right">e</span>
        <span class="nome hidden-left">y</span>
        <span class="nome hidden-right"> a</span>
        <span class="nome hidden-left">l</span>
        <span class="nome hidden-right">v</span>
        <span class="nome hidden-left">e</span>
        <span class="nome hidden-right">s</span>
    </div>
    <span class="profissao hidden-left">DESENVOLVEDOR FULL STACK</span>
</div>