<div class="container">

    <div class="header">
        <ul>
            <i class="fa-solid fa-bars"></i>
            <li (click)="scrollToProjetos()">Projetos</li>
            <li (click)="scrollToCompetencias()">Habilidades</li>
            <li>Sobre</li>
            <li>Contato</li>
        </ul>
    </div>

    <section class="hidden-left">
        <app-perfil></app-perfil>
    </section>

    <div class="espaco"></div>

    <section class="hidden-right">
        <app-sobre></app-sobre>
    </section>

    <div class="espaco"></div>

    <section class="hidden-left">
        <app-projetos></app-projetos>
    </section>

    <div class="espaco"></div>

    <section class="hidden-right">
        <app-habilidades></app-habilidades>
    </section>

    <div class="espaco"></div>

    <section class="hidden-left" style="padding-bottom: 500px;">
        <app-enviar-mensagem [aviso]="aviso" [texto]="texto" (showToastEvent)="toast($event)"></app-enviar-mensagem>
    </section>

    <div class="toast" *ngIf="aviso" [@fadeInOut]>
        {{ texto }}
    </div>

</div>

