<div class="container">

    <div class="header">
        <ul>
            <i (click)="scrollTop()" class="fa-solid fa-house"></i>
            <i mat-button [matMenuTriggerFor]="menu" class="fa-solid fa-bars menu"></i>
            <li (click)="scrollToSobre()">Sobre</li>
            <li (click)="scrollToProjetos()">Projetos</li>
            <li (click)="scrollToCompetencias()">Conhecimentos</li>
            <li (click)="scrollToContato()">Contato</li>
            <li>ㅤ</li>
        </ul>
    </div>

    <mat-menu #menu="matMenu">
        <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
            (click)="scrollToSobre()">Sobre</button>
        <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
            (click)="scrollToProjetos()">Projetos</button>
        <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
            (click)="scrollToCompetencias()">Conhecimentos</button>
        <button mat-menu-item style="color: #7b00ff; text-transform: uppercase; font-weight: 500;"
            (click)="scrollToContato()">Contato</button>
    </mat-menu>

    <div style="margin: 100px;"></div>

    <section class="hidden-left">
        <app-perfil></app-perfil>
    </section>

    <div style="padding: 100px;" #sobre></div>
    <section class="hidden-right">
        <app-sobre></app-sobre>
    </section>

    <div style="padding: 100px;" #projetos></div>
    <section class="hidden-left">
        <app-projetos></app-projetos>
    </section>

    <div style="padding: 100px;" #competencias></div>
    <section class="hidden-right">
        <app-habilidades></app-habilidades>
    </section>

    <div style="padding: 60px;" #contato></div>
    <section class="hidden-left" style="padding-bottom: 500px;">
        <app-enviar-mensagem [aviso]="aviso" [texto]="texto" (showToastEvent)="toast($event)"></app-enviar-mensagem>
    </section>

    <div class="toast" *ngIf="aviso" [@fadeInOut]>
        {{ texto }}
    </div>

</div>