@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: white;
}

.hidden-left,
.hidden-right,
.show {

    justify-content: center;
    transition: all 1s;
}

.hidden-right {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(100%);

}

.hidden-left {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100%);
    margin-bottom: 50px;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}