@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: white;
}

.hidden-left,
.hidden-right,
.show {
    justify-content: center;
    transition: all 1s;
}

.hidden-right {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(100%);
}

.hidden-left {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

.titulo {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;

    h3 {
        color: #7b00ff;
        font-family: 'Press Start 2P', cursive;
        text-transform: uppercase;
        text-shadow: .2px .2px .2px #000000;
        font-size: 25px;
        letter-spacing: 4px;
    }
}



@media only screen and (max-width: 575.98px) {
    .hidden-right {
        filter: blur(0px);
        transform: translateX(100%);
    }

    .hidden-left {
        opacity: 0;
        filter: blur(0px);
        transform: translateX(-100%);
    }

    .titulo {
        margin-bottom: 60px;
    
        h3 {
            font-size: 18px;
            letter-spacing: 2px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .hidden-right {
        filter: blur(0px);
        transform: translateX(100%);

    }

    .hidden-left {
        opacity: 0;
        filter: blur(0px);
        transform: translateX(-100%);
    }

    .titulo {
        margin-bottom: 60px;
    
        h3 {
            font-size: 18px;
            letter-spacing: 2px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {}

@media only screen and (min-width: 1200px) {}